body {
    background-color: black;
    color: #FC5E43;
    font-size: medium;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
}

a {
    color: #F7931E;
}

h3 {
    color: #F7931E;
}

.notice {
    color: #ffff00;
}

.warn {
    color: #ff0000;
}

#wrapper {
    width: 95%;
    max-width: 650px;
    margin: auto;
}

#mint {
    min-width: 300px;
    margin: auto;
    padding: 5px;
    text-align: center;
    border: 2px #FC5E43 solid;
    border-radius: 17px;
    color: #FC5E43;
}

#liq {
    min-width: 300px;
    margin: auto;
    padding: 5px;
    text-align: center;
    border: 2px #FC5E43 solid;
    border-radius: 17px;
    color: black;
    background-color: #ffc200;
}

#check {
    width: 300px;
    margin: auto;
    padding: 5px;
    text-align: center;
    border: 2px #FC5E43 solid;
    border-radius: 17px;
    color: #FC5E43;
}

#display {
    min-width: 300px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

#display img {
    margin: 3px;
}

.nft {
    width: 300px;
    height: 300px;
}

#eggWindow {
    min-width: 300px;
    margin: auto;
    padding: 5px;
    text-align: center;
    border: 2px #FC5E43 solid;
    border-radius: 17px;
}

#mintError {
    color: red;
    margin-bottom: 0;
    padding-bottom: 0;
}

#sendError {
    color: red;
}

#checkError {
    color: red;
}

#logo {
    width: 300px;
    height: 300px;
    margin: auto;
}

#logo-long {
    width: 300px;
    height: 90px;
    margin: auto;
}

#mintCount {
    margin-top: 5px;
    padding: 5px;
    border: gray solid 3px;
    border-radius: 12px;
    width: 135px;
    text-align: center;
}

#token {
    margin-top: 5px;
    padding: 5px;
    border: gray solid 3px;
    border-radius: 12px;
    width: 135px;
    text-align: center;
}

.cta-button {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 12px;
    width: 95%;
    max-width: 150px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

#send {
    border: #FC5E43 solid 2px;
    border-radius: 12px;
    margin-top: 5px;
}

#sendInput {
    font-size: 11px;
    text-align: center;
}

#sendAddress {
    width: 95%;
    font-size: 11px;
}

#sendButton {
    margin-bottom: 4px;
}

#unStakeAllButton {
    margin-bottom: 4px;
}

#claimButton {
    margin-bottom: 4px;
}

.connect-wallet-button {
    background: rgb(76, 79, 82);
}

.connect-wallet-button:hover {
    background: #F7931E;
}

#connect {
    margin-bottom:20px;
}

#gif {
    width: 300px;
    height: 300px;
}

ol {
    text-align: left;
    padding-inline-start: 0;
    max-width: 400px;
    margin: auto;
    line-height: 30px;
    margin-bottom: 20px;
}

.list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px 1fr;
}

.list img {
    grid-column: 1/2;
    margin-top: auto;
    margin-bottom:auto;
}

.list span {
    grid-column: 2/3;
    margin-top: auto;
    margin-bottom:auto;
}

@media only screen and (min-width: 390px) {
    .cta-button {
        font-size: 18px;
    }

}

@media only screen and (min-width: 465px) {

    body {
        font-size: medium;
    }
}


